$purple: #C72E85;
$green: #2FC670;
$orange: #ffd900;
$blue: rgb(47, 133, 198);


$jiffy_r:rgb(227, 24, 54);
$jiffy_b:#1B3E94;
$jiffy_g:#00A160;
$jiffy_y: rgb(228, 203, 1);

$jif_font: 'Abril Fatface', cursive;

$title_font: Brussels;

@font-face {
    font-family: Brussels;
    src: url(/brussels-city-font/BrusselsCityPersonalUsed-L3Lon.otf)
}


* {
    padding: 0;
    margin: 0;
}


#navbar {
    position: fixed;
    top:0;
    width: 100%;
    height: 75px;
    background-color: $blue;
    z-index: 5;

    ul {
        margin-left: 5%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3%;
    }
    li {
        display: inline;
        height: 100%;

        .nav-link {
            font-size: 28px;
            font-weight:600;
            font-family: $jif_font;
            letter-spacing: 0.1em;
            display: inline-block;
            text-decoration: none;
            color: white;
            height: 100%;
            display: flex;
            padding-left: 10px;
            padding-right: 10px;
            box-sizing: border-box;
            // border: 4px solid black;

            align-items: center;
        }

        #about:hover {
            background-color: $jiffy_r;
            border: 2px solid black;
        }
        #work:hover {
            background-color: $jiffy_r;
            border: 2px solid black;
        }
        #contact:hover {
            background-color: $jiffy_r;
            border: 2px solid black;
        }
    }
}

#welcome-section {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    height: 757px;
    min-width: 860px;

    .jif-box {
        width: 33.33%;
        font-family: $jif_font;
        font-size:13em;
        color: white;
        text-shadow: -15px 12px black;

    }

    #red {
        background-color: $jiffy_r;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        h1 {
            z-index: 1;
            margin-right: -0.5ch;
        }
    }
    #blue {
        background-color: $jiffy_b;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    #green {
        background-color: $jiffy_g;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        h1 {
            margin-left: -0.25ch;
        }
    }

    #name-box {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        top: 70%;
        h1 {
            background-color: rgb(205, 24, 54);
            color: $jiffy_y;
            font-family: $jif_font;
            letter-spacing: 0.1em;
            padding: 10px 20px;
            border: 4px solid goldenrod;
            outline: 4px solid rgb(205, 24, 54);
            width: 800px;
            font-size: 2em;
            text-align: center;
            
        }
    }
}

#projects {

    background: $purple;
    color: white;

    #accomplish-h1 {
        width: 60%;
        padding-top: 75px;
        margin:auto;
        position: relative;
        top: 40px;
        font-size: 2.2em;
        text-align: center;
        line-height: 1.5em;
        font-family: $title_font;
        letter-spacing: 0.05em;
        text-decoration: underline;
    }

    #accomplish-flexbox {
        margin-top: 5%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        min-width: 605px;


        .project-tile {
            width: 300px;
            border-radius: 15px;
            margin-bottom: 2%;

            img {
                width: 300px;
                height: 250px;
                display: block;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            figcaption {
                text-align: center;
                background-color: $green;
                padding: 10px;
                font-size: 1.2em;
                font-family: $jif_font;
                font-weight: 900;
                color: $jiffy_y;
                letter-spacing: 0.08em;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                border-top:4px solid black;
                height: 50px;
            }

            a {
                text-decoration: none;
            }
        }
    }
}

#colab {
    background-color: #E4CB01;
    
    h1 {
        width: 60%;
        padding-top: 5%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 72px;
        font-family:$title_font;
        color: $jiffy_g;
        font-weight: 900;
        text-shadow: -3px 3px 2px $purple, -4px 4px 2px white;
    }

    ul {
        width: 90%;
        margin:auto;
        margin-top: 8%;
        text-align: center;


        li {
            display: inline-block;
            font-size: 42px;
            font-variant: small-caps;
            font-family: $jif_font;
            font-weight: 800;
            padding: 15px;
            letter-spacing: 0.05em;

            img {
                width: 44px;
                height: 44px;
                vertical-align: middle;
            }

            #indeed {
                background-color: white;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                padding: 2px;
            }

            a {
                text-decoration: none;
                color: $jiffy_b;
                padding: 10px;
            }
        }
        a:hover {
            background-color: white;
            border-radius: 5px;
        }
    }

    footer {
        margin: auto;
        margin-top: 100px;
        padding-bottom: 180px;
        text-align: right;
        width: 70%;
        color: $purple;

    }
}

@media (max-width: 850px) {
    #colab {
        h1 {
            padding-top: 75px;
        }
        ul {
        li {
            display: block;
        }
    }
    }
}